/* * {
  margin: 0;
  padding: 0;
} */

/* .parent {
  display: flex;
}

.child {
  flex: 1;
  text-align: left;
}

#cards {
  width: 650px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 10px;
}

#name {
  text-align: center;
}

#detail {
  text-align: center;
}

article {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
} */

.main_name {
  text-align: center;
  font-weight: 20;
}
